@if (tree.length === 0) {
<div class="py-4 text-center text-xs text-[#5F6368] italic opacity-70">
  No folders.
</div>
} @else {
@for (node of tree; track node.folder.id) {
<app-folder-node 
  [node]="node" 
  [depth]="0" 
  [folders]="folders" 
  [notebooksByFolderId]="notebooksByFolderId"
  [notebookFolderByKey]="notebookFolderByKey" 
  [notebookFolderByTitle]="notebookFolderByTitle"
  [isBatchMode]="isBatchMode"
  [selectedKeys]="selectedKeys"
  (toggleFolder)="toggleFolder.emit($event)" 
  (createSubfolder)="createSubfolder.emit($event)"
  (renameFolder)="renameFolder.emit($event)" 
  (deleteFolder)="deleteFolder.emit($event)"
  (openNotebook)="openNotebook.emit($event)"
  (openNotebookMenu)="openNotebookMenu.emit($event)"
  (droppedNotebook)="droppedNotebook.emit($event)"
  (notebookSelectionToggle)="notebookSelectionToggle.emit($event)" />
}
}
